.chatbot-box {
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif,Poppins;
    background: linear-gradient(90deg,rgb(118,234,255),rgba(229,252,250,.808));
    transition: 1s all ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    z-index: 999999;
}

.child {
    box-shadow: 0 0 1px #3DB1F2;
    border-radius: 0;
    height: 70vh;
    width: 50vh;
    margin: auto;
    background: #f8fdff;
    position: fixed;
    right: 50px;
    top: 120px;
    border-radius: 30px;
    z-index: 1
}

.header img {
    max-width: 12%;
    height: auto;
    border-radius: 50%;
    margin: .45rem .2rem .45rem .5rem;
    padding: .5px;
    background-color: rgb(255,255,255);
    box-shadow: 0 1px 3px #2fc0f127,inset 0 0 0 2px #00000027
}

.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 12%;
    padding: 3px 0;
    border-radius: 30px 30px 0 0;
    z-index: 1;
    box-shadow: 0 0 1px #3DB1F2;
    font-family: Arial,Helvetica,sans-serif;
    flex: 1
}

.header span:last-child {
    font-size: 14px;
    margin: 0;
    padding: 0
}

.refBtn {
    position: absolute;
    bottom: 24%;
    right: 5%;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    width: 5%;
    height: 35%;
    background: url("images/Group 294.svg") no-repeat center center;
    background-size: 70%;
    box-shadow: 0 2px 4px rgba(0,0,0,.2),0 0 6px rgba(255,255,255,.5),0 1px 0 rgba(255,255,255,.8) inset;
    transition: transform 0.2s,box-shadow 0.2s;
    filter: invert(48%) sepia(13%) saturate(5007%) hue-rotate(170deg) brightness(95%) contrast(80%)
}

.refBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 2px rgba(0,0,0,.2),0 0 4px rgba(255,255,255,.5),0 0 0 rgba(255,255,255,.8) inset
}

#minimize {
    position: absolute;
    bottom: 26%;
    right: 15%;
    background: url(images/minimize_button.svg) no-repeat center center;
    background-size: contain;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    width: 5%;
    height: 35%;
    filter: invert(48%) sepia(13%) saturate(5007%) hue-rotate(170deg) brightness(95%) contrast(80%);
    border: .5px solid #0003;
    border-radius: 5px 5px 5px 5px;
    transition: transform 0.2s,box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,.2),0 0 6px rgba(255,255,255,.5),0 1px 0 rgba(255,255,255,.8) inset
}

#minimize:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 2px rgba(0,0,0,.2),0 0 4px rgba(255,255,255,.5),0 0 0 rgba(255,255,255,.8) inset
}

.h-child {
    display: flex;
    align-items: center
}

.name-status-container {
    display: flex;
    flex-direction: column;
    margin-left: .7rem
}

.name {
    font-weight: 600;
    display: block
}

.status-container {
    display: flex;
    align-items: center
}

.bot-name {
    position: relative;
    top: -40px;
    right: -30px
}

#boot-icon {
    background-image: url("images/Ellipse 8.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: .25rem
}

.status {
    display: block;
    margin-top: -1rem;
    font-size: x-small
}

.chatbot-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(18vh - 13%);
    background: #fff;
    border-radius: 0 0 30px 30px;
    padding: 1%;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 1px #3DB1F2;
    flex: 1
}

#chat-box {
    position: relative;
    top: 12%;
    height: 75.3%;
    padding: 3.5% 1%;
    overflow: auto;
    background: #f8fdff;
    text-align: left;
    flex: 8
}

#chat-box::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0,0,0,0)
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #3DB1F2;
    border-radius: 90px
}

#chat-box::-webkit-scrollbar-thumb:hover {
    background-color: #3DB1F2;
}

#chat-box::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0)
}

#chat-box::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,0)
}

.msg {
    background: #fff;
    padding: 2% 3% 3% 3%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0.5px 1px #3DB1F2;
    font-size: 12.3px;
    font-weight: 400;
    color: #000;
    box-shadow: #00000027;
    max-width: 66%;
    line-height: normal
}

.msg-container+.msg-container .msg {
    margin-top: -7px
}

.test {
    text-align: right;
    margin-top: -5px;
}

#test {
    display: none
}

.rep {
    background: #3DB1F2;
    color: rgb(255,255,255);
    padding: 5px 15px 7px 15px;
    border-radius: 20px 20px 20px 20px;
    font-size: 13px;
    font-weight: 500;
    max-width: 66%;
    border: #3DB1F2;
    width: max-content;
    position: relative;
    margin: 4px;
    box-shadow: 0 1px 2px #3DB1F2;
}

.opt {
    padding: 0% 1% 1% 1%;
    border: 1.7px solid #3DB1F2;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
    font-weight: 500;
    background: #fff;
    text-align: center;
    font-size: 13px;
    color: #3DB1F2;
    display: block;
    float: right;
    min-width: 14%;
    max-width: max-content;
    transition: background 0.2s ease-in-out
}

.opt:hover {
    background: #3DB1F2;
    color: #fff
}

.msg-container a {
    color: #3DB1F2; 
    text-decoration: underline; 
}

.msg-container a:hover {
    color: #0074d9; 
}

.msg-container a:active {
    color: #FF5733; 
}


.msg-container .m-button {
    background-color: #0074d9; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    text-decoration: none; 
}

.msg-container .m-button:hover {
    background-color: #0056b3;
}

.msg-container .m-button:active {
    background-color: #FF5733; 
}
.btn-image {
    background: url(images/real_init_img.png) 0% 0% no-repeat padding-box;
    background-size: 105%;
    background-position: center center;
    width: 80px;
    height: 80px;
    border: 3px solid #3DB1F2;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    transition: box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out;
    animation: glow 1s infinite alternate;
    box-shadow: 0 0 20px #3DB1F2;
    transform: scale(1.05)
}

@keyframes glow {
    0% {
        box-shadow: 0 0 2px #3DB1F2
    }

    100% {
        box-shadow: 0 0 4px #3DB1F2,0 0 9px #3DB1F2,0 0 10px #3DB1F2
    }
}

#init:hover {
    background-color: rgb(255,255,255)
}

@keyframes blink {
    0% {
        box-shadow: 0 1px 3px #3DB1F2,inset 0 0 0 2px #3DB1F2
    }

    50% {
        box-shadow: none;
        border: 2px solid transparent
    }

    100% {
        box-shadow: 0 1px 3px #3DB1F2,inset 0 0 0 2px #3DB1F2
    }
}

.blink {
    animation: blink 2.5s infinite
}

#close {
    background-image: url(images/closebutton.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border: 1px solid #3DB1F2;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 4%;
    right: 5%
}

.parent {
    position: absolute;
    top: 120px;
    right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1
}

.msg-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.chatbot-icon {
    display: inline-block;
    max-width: 6%;
    height: auto;
    border-radius: 50%;
    margin-left: 1%;
    align-items: flex-start;
    position: absolute;
    top: 10%;
    box-shadow: 0 1px 1px #00000027,inset 0 0 0 .5px #00000027
}

.msg-container .msg {
    margin-left: 10.5%
}

#bot-message {
    position: absolute;
    bottom: -19%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-small
}

#bot-message span {
    font-size: smaller;
    color: rgb(14,201,226)
}

#message-input {
    flex: 1;
    margin-right: 10%;
    padding: 1% 1%;
    border: rgb(35,24,24);
    border-radius: 15px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20%;
    left: 5%;
    right: 85px;
    width: calc(100% - 100px);
    font-size: 14px;
    height: fit-content;
    background-color: #76747412
}

#message-input::placeholder {
    color: #504c4cd7;
    font-style: unset;
    font: small-caption;
    text-indent: 18px;
    font-family: Arial,Helvetica,sans-serif
}

#send-button {
    background-color: transparent;
    border: none;
    color: transparent;
    padding: 0;
    line-height: 1;
    position: absolute;
    bottom: 51%;
    right: 10%;
    width: 25px;
    height: 24px;
    background-image: url(images/sendbtn.png);
    background-size: cover
}

.msg-content {
    background-color: #f80e0e;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    max-width: 70%
}

.timestamp {
    font-size: 9px;
    color: #2b4671;
    margin-left: 1%;
    visibility: hidden;
    font-family: Courier New;
    font-weight: 600
}

.welcome-message-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 6.5%;
    left: 79%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 18%;
    min-width: 200px;
    height: auto;
    background-color: #fff;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    z-index: 999;
    padding: 0 .5%;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #3DB1F2;
}

.welcome-message {
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    padding: 1% 3%
}

.user-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle
}

@media only screen and (max-width: 550px) {
    .child {
        width:70%;
        top: 14%;
        right: 5%
    }

    .parent {
        top: 20px;
        right: 20px
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-around
    }

    .header img {
        margin-right: .5rem;
        height: fit-content;
        max-width: 11%
    }

    .name-status-container {
        margin: 0;
        text-align: center
    }

    .name {
        font-size: 17px;
        font-weight: 600;
        display: block
    }

    .bot-name {
        position: static;
        top: auto;
        right: auto;
        margin-top: .5rem
    }

    .header span:last-child {
        font-size: 11px
    }

    .refBtn,#minimize {
        bottom: 32%;
        right: 5%;
        width: 8%;
        height: 28%
    }

    #minimize {
        right: 14%;
        width: 3.5%;
        height: 22%
    }

    .h-child {
        justify-content: flex-start
    }

    .welcome-message-container {
        bottom: 6%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 400px
    }

    .welcome-message {
        font-size: 12px;
        padding: .5%
    }

    .parent {
        justify-content: center;
        right: 0;
        left: 0
    }

    #message-input {
        bottom: 12%;
        right: 5%;
        left: 5%;
        width: calc(100% - 10px)
    }

    #send-button {
        bottom: 46%;
        right: 5%
    }

    .msg-container .msg {
        margin-left: 9%
    }

    .rep {
        font-size: 13px;
        font-weight: 500;
        max-width: 60%
    }

    .opt {
        padding: 1%;
        font-weight: 500;
        font-size: 13px
    }

    .msg {
        font-size: 13px;
        font-weight: 520;
        line-height: 1.3
    }
}

@media only screen and (max-width: 1024px) and (min-width:769px) {
    .child {
        width:38%;
        top: 18%;
        right: 5%
    }

    .parent {
        top: 20px;
        right: 20px
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-around
    }

    .header img {
        margin-right: .5rem;
        max-width: 11%
    }

    .name-status-container {
        margin: 0;
        text-align: center
    }

    .name {
        font-size: 17px;
        font-weight: 600;
        display: block
    }

    .bot-name {
        position: static;
        top: auto;
        right: auto;
        margin-top: .5rem
    }

    .header span:last-child {
        font-size: 11px
    }

    .refBtn,#minimize {
        bottom: 28%;
        right: 6%
    }

    #minimize {
        right: 16%;
        width: 4.5%
    }

    .h-child {
        justify-content: center;
        justify-content: flex-start
    }

    .welcome-message-container {
        bottom: 3.6%;
        left: 79%;
        padding: .4%
    }

    .welcome-message {
        font-size: 12px;
        font-weight: 400;
        padding: 1% 3%
    }

    .parent {
        justify-content: center;
        right: 0;
        left: 0
    }

    #message-input {
        bottom: 12%;
        right: 5%;
        left: 5%;
        width: calc(100% - 10px)
    }

    #send-button {
        bottom: 46%;
        right: 5%
    }

    .msg-container .msg {
        margin-left: 9%
    }

    .rep {
        font-size: 13px;
        font-weight: 500;
        max-width: 60%
    }

    .opt {
        padding: 1%;
        font-weight: 500;
        font-size: 13px
    }

    .msg {
        font-size: 11px;
        font-weight: 400;
        line-height: 1.3
    }

    #message-input {
        margin-right: 10%;
        bottom: 20%;
        left: 5%;
        right: 85px;
        width: calc(100% - 100px);
        font-size: 13px
    }

    .chatbot-icon {
        max-width: 5.7%;
        box-shadow: 0 1px 1px #00000075,inset 0 0 0 .5px #00000027
    }

    #send-button {
        bottom: 48%;
        right: 8%
    }
}

@media only screen and (max-width: 1366px) and (min-width:1025pxÃƒÂ¢Ã¢â€šÂ¬Ã…) {
    .child {
        width:38%;
        top: 18%;
        right: 5%
    }

    .parent {
        top: 20px;
        right: 20px
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-around
    }

    .header img {
        margin-right: .5rem;
        max-width: 11%
    }

    .name-status-container {
        margin: 0;
        text-align: center
    }

    .name {
        font-size: 17px;
        font-weight: 600;
        display: block
    }

    .bot-name {
        position: static;
        top: auto;
        right: auto;
        margin-top: .5rem
    }

    .header span:last-child {
        font-size: 11px
    }

    .refBtn,#minimize {
        bottom: 28%;
        right: 6%
    }

    #minimize {
        right: 16%;
        width: 4.5%
    }

    .h-child {
        justify-content: center;
        justify-content: flex-start
    }

    .welcome-message-container {
        bottom: 3.6%;
        left: 79%;
        padding: .4%
    }

    .welcome-message {
        font-size: 12px;
        font-weight: 400;
        padding: 1% 3%
    }

    .parent {
        justify-content: center;
        right: 0;
        left: 0
    }

    #message-input {
        bottom: 12%;
        right: 5%;
        left: 5%;
        width: calc(100% - 10px)
    }

    #send-button {
        bottom: 46%;
        right: 5%
    }

    .msg-container .msg {
        margin-left: 9%
    }

    .rep {
        font-size: 13px;
        font-weight: 500;
        max-width: 60%
    }

    .opt {
        padding: 1%;
        font-weight: 500;
        font-size: 13px
    }

    .msg {
        font-size: 11px;
        font-weight: 400;
        line-height: 1.3
    }

    #message-input {
        margin-right: 10%;
        bottom: 20%;
        left: 5%;
        right: 85px;
        width: calc(100% - 100px);
        font-size: 13px
    }

    .chatbot-icon {
        max-width: 5.7%;
        box-shadow: 0 1px 1px #00000075,inset 0 0 0 .5px #00000027
    }

    #send-button {
        bottom: 48%;
        right: 8%
    }
}

@media only screen and (max-width: 1605px) and (min-width:1367pxÃƒÂ¢Ã¢â€šÂ¬Ã…) {
    .child {
        width:38%;
        top: 18%;
        right: 5%
    }

    .parent {
        top: 20px;
        right: 20px
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-around
    }

    .header img {
        margin-right: .5rem;
        max-width: 11%
    }

    .name-status-container {
        margin: 0;
        text-align: center
    }

    .name {
        font-size: 17px;
        font-weight: 600;
        display: block
    }

    .bot-name {
        position: static;
        top: auto;
        right: auto;
        margin-top: .5rem
    }

    .header span:last-child {
        font-size: 11px
    }

    .refBtn,#minimize {
        bottom: 28%;
        right: 6%
    }

    #minimize {
        right: 16%;
        width: 4.5%
    }

    .h-child {
        justify-content: center;
        justify-content: flex-start
    }

    .welcome-message-container {
        bottom: 3.6%;
        left: 79%;
        padding: .4%
    }

    .welcome-message {
        font-size: 12px;
        font-weight: 400;
        padding: 1% 3%;
    }

    .parent {
        justify-content: center;
        right: 0;
        left: 0
    }

    #message-input {
        bottom: 12%;
        right: 5%;
        left: 5%;
        width: calc(100% - 10px)
    }

    #send-button {
        bottom: 46%;
        right: 5%
    }

    .msg-container .msg {
        margin-left: 9%
    }

    .rep {
        font-size: 13px;
        font-weight: 500;
        max-width: 60%
    }

    .opt {
        padding: 1%;
        font-weight: 500;
        font-size: 13px
    }

    .msg {
        font-size: 11px;
        font-weight: 400;
        line-height: 1.3
    }

    #message-input {
        margin-right: 10%;
        bottom: 20%;
        left: 5%;
        right: 85px;
        width: calc(100% - 100px);
        font-size: 13px
    }

    .chatbot-icon {
        max-width: 5.7%;
        box-shadow: 0 1px 1px #00000075,inset 0 0 0 .5px #00000027
    }

    #send-button {
        bottom: 48%;
        right: 8%
    }
}

@media only screen and (max-height: 700px) {
    #chat-box {
        top:12%;
        height: 75%;
        padding: 3.5% 1%;
        overflow: auto;
        background: #f8fdff;
        text-align: left;
        flex: 8
    }

    .parent {
        top: 20px;
        right: 20px
    }

    .header img {
        max-width: 11%;
        border-radius: 50%;
        margin: .45rem .2rem .45rem .8rem;
        box-shadow: 0 0 1px #3DB1F2;
    }

    .header {
        justify-content: space-around
    }

    .name-status-container {
        margin: 3%;
        text-align: center;
        line-height: 1.5
    }

    .name {
        font-size: medium;
        font-weight: 600;
        display: block
    }

    .bot-name {
        position: static;
        top: auto;
        right: auto;
        margin-top: .5rem
    }

    .header span:last-child {
        font-size: 11px
    }

    .h-child {
        justify-content: flex-start
    }

    .welcome-message-container {
        bottom: 3.6%;
        left: 79%;
        padding: .4%
    }

    .welcome-message {
        font-size: 12px;
        font-weight: 400;
        padding: 1% 3%
    }

    .parent {
        justify-content: center;
        right: 0;
        left: 0
    }

    #message-input {
        bottom: 12%;
        right: 5%;
        left: 5%;
        width: calc(100% - 10px)
    }

    #send-button {
        bottom: 46%;
        right: 5%
    }

    .msg-container .msg {
        margin-left: 9%
    }

    .rep {
        font-size: 11.5px;
        font-weight: 500;
        max-width: 60%
    }

    .opt {
        padding: 1% 2%;
        font-size: 11.5px
    }

    .msg {
        font-size: 11.5px;
        font-weight: 400;
        line-height: 1.3
    }

    .btn-image {
        background-size: 110%;
        width: 70px;
        height: 70px;
        bottom: 3%
    }

    #close {
        background-size: 50%;
        width: 43px;
        height: 43px;
        bottom: 2.4%
    }

    #message-input {
        margin-right: 10%;
        bottom: 10%;
        left: 5%;
        right: 85px;
        width: calc(100% - 100px);
        font-size: 13px
    }

    .chatbot-icon {
        max-width: 5.7%;
        box-shadow: 0 1px 1px #00000091,inset 0 0 0 .5px #00000027
    }

    #send-button {
        bottom: 42%;
        right: 8%
    }

    #bot-message {
        bottom: -27%;
        font-size: 7px;
        font-weight: 500
    }

    #bot-message span {
        font-size: 7px;
        color: rgb(14,201,226)
    }
}