/* @media only screen and (min-width: 2000px) {
    .bodycolor
    {
  font-size: 2rem !important;
    }
    .section-title h2
{
    font-size: 3rem !important;
}
.section-title,.menu a,.servicesh3
{
    font-size: 2rem !important;
}
body, h5, pre, footer *, .footer .widget.widget_recent_entries ul li .posted-on a
{
    font-size: 2rem !important;
}
.bodycolor, .service_point-list li,.banner-content p,.buttonnewwhite,.widget.widget_nav_menu ul li a, .footer-bottom-text, .footera a,.footer .widget .widget-title
{
    font-size: 2rem !important;
}

  } */
  